#include <behaviors.dtsi>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>
#include "skeletyl_behaviors.dtsi"

#define _ &kp
#define ___ &none
#define ______ &trans

#define DEF 0
#define GIT 1
#define SYM 2
#define NAV 3
#define NUM 4
#define ALT 5
#define CMD 6
#define MIR 7

#define MEH(key) LS(LC(LA(key)))

#define SQT GRAVE
#define DQT LS(GRAVE)
#define GRV RA(GRAVE)
#define PIP LS(BSLH)
#define BSL RA(BSLH)
#define NBSP RA(SPACE)

#define NSPC LC(RIGHT)
#define PSPC LC(LEFT)

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers  = <NAV SYM>;
            then-layer = <NUM>;
        };
        mirror_layer {
            if-layers  = <SYM ALT>;
            then-layer = <MIR>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        def_layer {
            display-name = "DEFAULT";
            bindings = <
_ Q          _ W          _ E          _ R         _ T             _ Y          _ U          _ I          _ O          _ P
&hml LGUI A  &hml LALT S  &hml LCTRL D &hml LSHFT F _ G             _ H          &hmr LSHFT J &hmr LCTRL K &hmr LALT L  &hmr LGUI SEMI
_ Z          _ X          _ C          _ V         _ B             _ N          _ M          _ COMMA      _ DOT        _ FSLH
                          _ CAPS       &mt LSHFT SPACE &la NAV     &la SYM      &mt RSHFT BSPC  &mo ALT
            >;
        };

        git_layer {
            display-name = "COMMIT";
            bindings = <
_ TAB        _ Q          _ W          _ E         _ R             _ Y          _ U          _ S          _ V          _ TAB
_ LSFT       _ A          _ S          _ D         _ F             _ TAB        _ J          _ K          _ L          _ LSFT
_ LCTRL      _ Z          _ X          _ C         _ V             ___          ___          ___          ___          _ RCTRL
                          _ LALT       _ SPACE     ______          &tog GIT     _ SPACE      _ PSCRN
            >;
        };

        sym_layer {
            display-name = "SYMBOLS";
            bindings = <
_ N1         _ N2         _ N3         _ N4        _ N5            _ N6         _ N7         _ N8         _ N9         _ N0
_ SEMI       _ GRV        _ SQT        _ DQT       _ MINUS         _ PLUS       ______       ______       ______       ______
_ BSL        ___          _ LS(LBKT)   _ LBKT      _ UNDER         _ EQUAL      _ RBKT       _ LS(RBKT)   _ PIP        _ BSLH
                          ______       ______      ______          ______       ______       ______
            >;
        };

        nav_layer {
            display-name = "NAVIGATION";
            bindings = <
_ HOME       _ END        &swapper_mac &tabber     _ ESC           _ ESC        _ HOME       _ END        _ BSPC       _ DEL
_ LEFT       _ DOWN       _ UP         _ RIGHT     _ RET           _ LEFT       _ DOWN       _ UP         _ RIGHT      _ RET
_ PSPC       _ NSPC       &tog GIT     _ PSCRN     _ TAB           _ TAB        _ PG_UP      _ PG_DN      _ APOS       ___
                          &mo CMD      ______      ______          ______       ______       ______
            >;
        };

        num_layer {
            display-name = "NUMPAD";
            bindings = <
_ KP_N1      _ KP_N2      _ KP_N3      _ KP_N4     _ KP_N5         _ KP_N6      _ KP_N7      _ KP_N8      _ KP_N9      _ KP_N0
______       ______       ______       ______      _ F11           _ F12        ______       ______       ______       ______
_ F1         _ F2         _ F3         _ F4        _ F5            _ F6         _ F7         _ F8         _ F9         _ F10
                          ______       ______      ______          ______       ______       ______
            >;
        };

        alt_layer {
            display-name = "ALT_CHARS";
            bindings = <
_ RA(Q)      _ RA(W)      &swapper_mac &tabber     _ RA(T)         _ RA(Y)      _ RA(U)      _ RA(I)      _ RA(O)      _ RA(P)
_ RA(A)      &m_elpipe    &m_ldsh      &m_rdsh     _ RA(G)         _ RA(H)      _ RA(J)      _ RA(K)      _ RA(L)      _ RA(SEMI)
_ RA(Z)      &m_elmap     &m_leq       &m_req      &m_insl         _ RA(N)      _ RA(M)      _ RA(COMMA)  _ LS(RA(DOT)) _ LS(RA(FSLH))
                          ______       _ NBSP      _ LSHFT         ______       ______       ______
            >;
        };

        cmd_layer {
            display-name = "COMMAND";
            bindings = <
&sys_reset   &bootloader  &bt BT_CLR_ALL ___          &rgb_ug RGB_TOG &rgb_ug RGB_TOG _ C_VOL_DN   _ C_MUTE     _ C_VOL_UP   _ C_BRI_UP
&bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2   &bt BT_SEL 3 &rgb_ug RGB_ON  _ MEH(H)     _ C_PREV     _ C_PP       _ C_NEXT     _ C_BRI_DEC
___          &out OUT_BLE &out OUT_USB   ___          &rgb_ug RGB_OFF _ MEH(N)     _ MEH(M)     _ MEH(COMMA) _ MEH(DOT)   &bootloader
                          ______       ______      ______          _ LGUI       ______       ______
            >;
        };

        mir_layer {
            display-name = "MIRROR";
            bindings = <
______       ______       ______       ______      &rgb_ug RGB_TOG &rgb_ug RGB_TOG &out OUT_USB  &bt BT_CLR_ALL &bootloader &sys_reset
&rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_SPI &rgb_ug RGB_BRI &rgb_ug RGB_EFF &rgb_ug RGB_EFF ______       ______         ______      ______
&rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_SPD &rgb_ug RGB_BRD &rgb_ug RGB_EFR &rgb_ug RGB_EFR ______       &out OUT_USB   &out OUT_BLE      ______
                          ______       ______      ______          ______       ______       ______
            >;
        };
    };
};
